<form action="/Login" method="post">
    <label for="name">Username</label>
    <input type="text" name="name" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button>Login</button>
</form>