<h2>Welcome back, {{user.username}}</h2>
<h3>Check this out babe</h3>
<img src="/images/cat-pic.jpeg" alt="picture of a cat face">
<form action="/logout" method="POST">
  <button>LOG OUT</button>
</form>