<form action="/registration" method="post">
    <label for="name">Username</label>
    <input type="text" name="name" required>
    <label for="password">Password</label>
    <input type="text" name="password" required>
    <button>Register</button>
</form>