<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label>
      Username
      <input type="text" name="username" placeholder="Your username" />
    </label>
 
    <label>
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>
 
    <button>Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>